source [find interface/stlink.cfg]

# Work-area size (RAM size) = 10kB
# 需要与芯片匹配，不然使用openocd烧录时会报错
set WORKAREASIZE 10240

source [find target/stm32f1x.cfg]

$_TARGETNAME configure -event gdb-attach {
        echo "Debugger attaching: halting execution"
        reset halt
        gdb_breakpoint_override hard
}

$_TARGETNAME configure -event gdb-detach {
        echo "Debugger detaching: resuming execution"
        resume
}
